[submodule "ace-window"]
        path = lib/ace-window
        url = https://github.com/abo-abo/ace-window.git
[submodule "aiern"]
        path = lib/aiern
        url = https://github.com/shadowrylander/aiern.git
        pushurl = git@github.com:shadowrylander/aiern.git
[submodule "aiern-aiernhide-state"]
	path = lib/aiern-aiernhide-state
	url = https://github.com/shadowrylander/aiern-aiernhide-state.git
        pushurl = git@github.com:shadowrylander/aiern-aiernhide-state.git
[submodule "aiern-god-state"]
        path = lib/aiern-god-state
        url = https://github.com/shadowrylander/aiern-god-state.git
        pushurl = git@github.com:shadowrylander/aiern-god-state.git
[submodule "alamode"]
        path = lib/alamode
        url = https://github.com/shadowrylander/alamode.git
        pushurl = git@github.com:shadowrylander/alamode.git
[submodule "all-the-icons"]
        path = lib/all-the-icons
        url = https://github.com/domtronn/all-the-icons.el.git
[submodule "alloy"]
        path = lib/alloy
        url = https://github.com/shadowrylander/alloy.git
        pushurl = git@github.com:shadowrylander/alloy.git
[submodule "async"]
        path = lib/async
        url = https://github.com/jwiegley/emacs-async.git
[submodule "auto-package-update"]
        path = lib/auto-package-update
        url = https://github.com/rranelli/auto-package-update.el.git
[submodule "autofit-frame"]
        path = lib/autofit-frame
        url = https://github.com/emacsmirror/autofit-frame.git
[submodule "avy"]
        path = lib/avy
        url = https://github.com/abo-abo/avy.git
[submodule "bind-map"]
        path = lib/bind-map
        url = https://github.com/justbur/emacs-bind-map.git
[submodule "buff-menu+"]
        path = lib/buff-menu+
        url = https://github.com/emacsmirror/buff-menu-plus.git
[submodule "command-log-mode"]
        path = lib/command-log-mode
        url = https://github.com/lewang/command-log-mode.git
[submodule "company"]
        path = lib/company
        url = https://github.com/company-mode/company-mode.git
[submodule "compile+"]
        path = lib/compile+
        url = https://github.com/emacsmirror/compile-plus.git
[submodule "compile-"]
        path = lib/compile-
        url = https://github.com/emacsmirror/compile-.git
[submodule "cosmoem"]
        path = lib/cosmoem
        url = https://gitlab.com/shadowrylander/cosmoem.git
        pushurl = git@gitlab.com:shadowrylander/cosmoem.git
[submodule "cosmog"]
        path = lib/cosmog
        url = https://github.com/shadowrylander/cosmog.git
        pushurl = git@github.com:shadowrylander/cosmog.git
[submodule "counsel-projectile"]
        path = lib/counsel-projectile
        url = https://github.com/ericdanan/counsel-projectile.git
[submodule "deino"]
        path = lib/deino
        url = https://github.com/shadowrylander/deino.git
        pushurl = git@github.com:shadowrylander/deino.git
[submodule "dired+"]
        path = lib/dired+
        url = https://github.com/emacsmirror/dired-plus.git
[submodule "dired-details"]
        path = lib/dired-details
        url = https://github.com/emacsmirror/dired-details.git
[submodule "dired-details+"]
        path = lib/dired-details+
        url = https://github.com/emacsmirror/dired-details-plus.git
[submodule "dired-hacks"]
        path = lib/dired-hacks
        url = https://github.com/Fuco1/dired-hacks.git
[submodule "dired-sidebar"]
        path = lib/dired-sidebar
        url = https://github.com/jojojames/dired-sidebar.git
[submodule "dmenu"]
        path = lib/dmenu
        url = https://github.com/lujun9972/el-dmenu.git
[submodule "doc"]
        path = lib/doc
        url = https://github.com/shadowrylander/doc.git
[submodule "dockerfile-mode"]
        path = lib/dockerfile-mode
        url = https://github.com/spotify/dockerfile-mode.git
[submodule "doom-aiern-modeline"]
        path = lib/doom-aiern-modeline
        url = https://github.com/shadowrylander/doom-aiern-modeline.git
        pushurl = git@github.com:shadowrylander/doom-aiern-modeline.git
[submodule "doom-themes"]
        path = lib/doom-themes
        url = https://github.com/hlissner/emacs-doom-themes.git
[submodule "doremi"]
        path = lib/doremi
        url = https://github.com/emacsmirror/doremi.git
[submodule "doremi-cmd"]
        path = lib/doremi-cmd
        url = https://github.com/emacsmirror/doremi-cmd.git
[submodule "doremi-frm"]
        path = lib/doremi-frm
        url = https://github.com/emacsmirror/doremi-frm.git
[submodule "doremi-mac"]
        path = lib/doremi-mac
        url = https://github.com/emacsmirror/doremi-mac.git
[submodule "escreen"]
        path = lib/escreen
        url = https://github.com/emacsattic/escreen.git
[submodule "evil"]
        path = lib/evil
        url = https://github.com/emacs-evil/evil.git
[submodule "evil-evilified-state"]
        path = lib/evil-evilified-state
        url = https://github.com/shadowrylander/evil-evilified-state.git
        pushurl = git@github.com:shadowrylander/evil-evilified-state.git
[submodule "evil-god-state"]
        path = lib/evil-god-state
        url = https://github.com/gridaphobe/evil-god-state.git
[submodule "exec-path-from-shell"]
        path = lib/exec-path-from-shell
        url = https://github.com/purcell/exec-path-from-shell.git
[submodule "exwm"]
        path = lib/exwm
        url = https://github.com/ch11ng/exwm.git
[submodule "facemenu+"]
        path = lib/facemenu+
        url = https://github.com/emacsmirror/facemenu-plus.git
[submodule "faces+"]
        path = lib/faces+
        url = https://github.com/emacsmirror/faces-plus.git
[submodule "fell"]
        path = lib/fell
        url = https://github.com/shadowrylander/fell.git
        pushurl = git@github.com:shadowrylander/fell.git
[submodule "fit-frame"]
        path = lib/fit-frame
        url = https://github.com/emacsmirror/fit-frame.git
[submodule "flx"]
        path = lib/flx
        url = https://github.com/lewang/flx.git
[submodule "flycheck"]
        path = lib/flycheck
        url = https://github.com/flycheck/flycheck.git
[submodule "frame+"]
        path = lib/frame+
        url = https://github.com/emacsmirror/frame-plus.git
[submodule "frame-cmds"]
        path = lib/frame-cmds
        url = https://github.com/emacsmirror/frame-cmds.git
[submodule "frame-fns"]
        path = lib/frame-fns
        url = https://github.com/emacsmirror/frame-fns.git
[submodule "gcmh"]
        path = lib/gcmh
        url = https://gitlab.com/koral/gcmh.git
[submodule "god-mode"]
        path = lib/god-mode
        url = https://github.com/emacsorphanage/god-mode.git
[submodule "grep+"]
        path = lib/grep+
        url = https://github.com/emacsmirror/grep-plus.git
[submodule "helm"]
        path = lib/helm
        url = https://github.com/emacs-helm/helm.git
[submodule "helm-flx"]
        path = lib/helm-flx
        url = https://github.com/PythonNut/helm-flx.git
[submodule "helm-ido-like-guide"]
        path = lib/helm-ido-like-guide
        url = https://github.com/shadowrylander/helm-ido-like-guide.git
        pushurl = git@github.com:shadowrylander/helm-ido-like-guide.git
[submodule "helm-projectile"]
        path = lib/helm-projectile
        url = https://github.com/bbatsov/helm-projectile.git
[submodule "helm-smex"]
        path = lib/helm-smex
        url = https://github.com/ptrv/helm-smex.git
[submodule "helm-swoop"]
        path = lib/helm-swoop
        url = https://github.com/emacsorphanage/helm-swoop.git
[submodule "help+"]
        path = lib/help+
        url = https://github.com/emacsmirror/help-plus.git
[submodule "help-fns+"]
        path = lib/help-fns+
        url = https://github.com/emacsmirror/help-fns-plus.git
[submodule "hexrgb"]
        path = lib/hexrgb
        url = https://github.com/emacsmirror/hexrgb.git
[submodule "ht"]
        path = lib/ht
        url = https://github.com/Wilfred/ht.el.git
[submodule "hy-mode"]
        path = lib/hy-mode
        url = https://github.com/hylang/hy-mode.git
[submodule "hydra"]
        path = lib/hydra
        url = https://github.com/abo-abo/hydra.git
[submodule "ibuffer-sidebar"]
        path = lib/ibuffer-sidebar
        url = https://github.com/jojojames/ibuffer-sidebar.git
[submodule "ido-completing-read+"]
        path = lib/ido-completing-read+
        url = https://github.com/DarwinAwardWinner/ido-completing-read-plus.git
[submodule "iedit"]
        path = lib/iedit
        url = https://github.com/victorhge/iedit.git
[submodule "info+"]
        path = lib/info+
        url = https://github.com/emacsmirror/info-plus.git
[submodule "ivy"]
        path = lib/ivy
        url = https://github.com/abo-abo/swiper.git
[submodule "janus"]
        path = lib/janus
        url = https://github.com/shadowrylander/janus.git
        pushurl = git@github.com:shadowrylander/janus.git
[submodule "key-chord"]
        path = lib/key-chord
        url = https://github.com/emacsorphanage/key-chord.git
[submodule "leaf"]
        path = lib/leaf
        url = https://github.com/conao3/leaf.el.git
[submodule "leaf-keywords"]
        path = lib/leaf-keywords
        url = https://github.com/conao3/leaf-keywords.el.git
[submodule "lib/a"]
	path = lib/a
	url = https://github.com/plexus/a.el.git
[submodule "lib/borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "lib/closql"]
	path = lib/closql
	url = https://github.com/emacscollective/closql.git
[submodule "lib/dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "lib/emacsql"]
	path = lib/emacsql
	url = https://github.com/skeeto/emacsql.git
[submodule "lib/epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "lib/f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "lib/org"]
	path = lib/org
	url = https://code.orgmode.org/bzg/org-mode
[submodule "lib/s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "lispy"]
        path = lib/lispy
        url = https://github.com/abo-abo/lispy.git
[submodule "lode"]
        path = lib/lode
        url = https://github.com/shadowrylander/lode.git
        pushurl = git@github.com:shadowrylander/lode.git
[submodule "magit"]
        path = lib/magit
        url = https://github.com/magit/magit.git
[submodule "markdown-mode"]
        path = lib/markdown-mode
        url = https://github.com/jrblevin/markdown-mode.git
[submodule "menu-bar+"]
        path = lib/menu-bar+
        url = https://github.com/emacsmirror/menu-bar-plus.git
[submodule "meq"]
        path = lib/meq
        url = https://github.com/shadowrylander/meq.git
        pushurl = git@github.com:shadowrylander/meq.git
[submodule "meta"]
        path = lib/meta
        url = https://github.com/shadowrylander/meta.git
        pushurl = git@github.com:shadowrylander/meta.git
[submodule "modalka"]
        path = lib/modalka
        url = https://github.com/mrkkrp/modalka.git
[submodule "mouse+"]
        path = lib/mouse+
        url = https://github.com/emacsmirror/mouse-plus.git
[submodule "multi-vterm"]
        path = lib/multi-vterm
        url = https://github.com/suonlight/multi-vterm.git
[submodule "naked"]
        path = lib/naked
        url = https://github.com/emacsmirror/naked.git
[submodule "nix-mode"]
        path = lib/nix-mode
        url = https://github.com/NixOS/nix-mode.git
[submodule "no-littering"]
        path = lib/no-littering
        url = https://github.com/emacscollective/no-littering.git
[submodule "ob-hy"]
        path = lib/ob-hy
        url = https://github.com/brantou/ob-hy.git
[submodule "objed"]
        path = lib/objed
        url = https://github.com/clemera/objed.git
[submodule "olivetti"]
        path = lib/olivetti
        url = https://github.com/rnkn/olivetti.git
[submodule "oneonone"]
        path = lib/oneonone
        url = https://github.com/emacsmirror/oneonone.git
[submodule "org-contrib"]
        path = lib/org-contrib
        url = https://git.sr.ht/~bzg/org-contrib.git
[submodule "ox-gfm"]
        path = lib/ox-gfm
        url = https://github.com/larstvei/ox-gfm.git
[submodule "ox-pandoc"]
        path = lib/ox-pandoc
        url = https://github.com/kawabata/ox-pandoc.git
[submodule "ppd-sr-speedbar"]
        path = lib/ppd-sr-speedbar
        url = https://github.com/rdallasgray/ppd-sr-speedbar.git
[submodule "prescient"]
        path = lib/prescient
        url = https://github.com/raxod502/prescient.el.git
[submodule "prime"]
        path = lib/prime
        url = https://github.com/shadowrylander/prime.git
        pushurl = git@github.com:shadowrylander/prime.git
[submodule "profiles/alhassy"]
        path = profiles/alhassy
        url = https://github.com/alhassy/emacs.d.git
[submodule "profiles/centaur"]
        path = profiles/centaur
        url = https://github.com/seagle0128/.emacs.d.git
[submodule "profiles/doom"]
        path = profiles/doom
        url = https://github.com/hlissner/.emacs.d.git
[submodule "profiles/graphene/lisp"]
        path = profiles/graphene/lisp
        url = https://github.com/rdallasgray/graphene.git
[submodule "profiles/nano/lisp"]
        path = profiles/nano/lisp
        url = https://github.com/rougier/nano-emacs.git
[submodule "profiles/patrick"]
        path = profiles/patrick
        url = https://github.com/patrickt/emacs.git
[submodule "profiles/prelude"]
        path = profiles/prelude
        url = https://github.com/bbatsov/prelude.git
[submodule "profiles/spacemacs"]
        path = profiles/spacemacs
        url = https://github.com/syl20bnr/spacemacs.git
[submodule "project-persist"]
        path = lib/project-persist
        url = https://github.com/rdallasgray/project-persist.git
[submodule "project-persist-drawer"]
        path = lib/project-persist-drawer
        url = https://github.com/rdallasgray/project-persist-drawer.git
[submodule "projectile"]
        path = lib/projectile
        url = https://github.com/bbatsov/projectile.git
[submodule "quelpa"]
        path = lib/quelpa
        url = https://github.com/quelpa/quelpa.git
[submodule "quelpa-leaf"]
        path = lib/quelpa-leaf
        url = https://github.com/quelpa/quelpa-leaf.git
[submodule "quelpa-use-package"]
        path = lib/quelpa-use-package
        url = https://github.com/quelpa/quelpa-use-package.git
[submodule "rainbow-identifiers"]
        path = lib/rainbow-identifiers
        url = https://github.com/Fanael/rainbow-identifiers.git
[submodule "rainbow-mode"]
        path = lib/rainbow-mode
        url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "restart-emacs"]
        path = lib/restart-emacs
        url = https://github.com/iqbalansari/restart-emacs.git
[submodule "ring+"]
        path = lib/ring+
        url = https://github.com/emacsmirror/ring-plus.git
[submodule "riot"]
        path = lib/riot
        url = https://github.com/shadowrylander/riot.git
        pushurl = git@github.com:shadowrylander/riot.git
[submodule "ryo-modal"]
        path = lib/ryo-modal
        url = https://github.com/kungsgeten/ryo-modal.git
[submodule "shrink-path"]
        path = lib/shrink-path
        url = https://gitlab.com/bennya/shrink-path.el.git
[submodule "simple+"]
        path = lib/simple+
        url = https://github.com/emacsmirror/simple-plus.git
[submodule "sly"]
        path = lib/sly
        url = https://github.com/joaotavora/sly.git
[submodule "smartparens"]
        path = lib/smartparens
        url = https://github.com/Fuco1/smartparens.git
[submodule "smex"]
        path = lib/smex
        url = https://github.com/nonsequitur/smex.git
[submodule "sorrow"]
        path = lib/sorrow
        url = https://github.com/shadowrylander/sorrow.git
        pushurl = git@github.com:shadowrylander/sorrow.git
[submodule "sr-speedbar"]
        path = lib/sr-speedbar
        url = https://github.com/emacsorphanage/sr-speedbar.git
[submodule "strings"]
        path = lib/strings
        url = https://github.com/emacsmirror/strings.git
[submodule "system-packages"]
        path = lib/system-packages
        url = https://gitlab.com/jabranham/system-packages.git
[submodule "thumb-frm"]
        path = lib/thumb-frm
        url = https://github.com/emacsmirror/thumb-frm.git
[submodule "titan"]
        path = lib/titan
        url = https://github.com/shadowrylander/titan.git
        pushurl = git@github.com:shadowrylander/titan.git
[submodule "transient"]
        path = lib/transient
        url = https://github.com/magit/transient.git
[submodule "uru"]
        path = lib/uru
        url = https://github.com/shadowrylander/uru.git
        pushurl = git@github.com:shadowrylander/uru.git
[submodule "use-package"]
        path = lib/use-package
        url = https://github.com/jwiegley/use-package.git
[submodule "use-package-deino"]
        path = lib/use-package-deino
        url = https://github.com/shadowrylander/use-package-deino.git
        pushurl = git@github.com:shadowrylander/use-package-deino.git
[submodule "use-package-extras"]
        path = lib/use-package-extras
        url = https://github.com/shadowrylander/use-package-extras.git
        pushurl = git@github.com:shadowrylander/use-package-extras.git
[submodule "use-package-hydra"]
        path = lib/use-package-hydra
        url = https://gitlab.com/to1ne/use-package-hydra.git
[submodule "vimrc-mode"]
        path = lib/vimrc-mode
        url = https://github.com/mcandre/vimrc-mode.git
[submodule "vlfi"]
        path = lib/vlfi
        url = https://github.com/m00natic/vlfi.git
[submodule "vterm"]
        path = lib/vterm
        url = https://github.com/akermu/emacs-libvterm.git
[submodule "web-mode"]
        path = lib/web-mode
        url = https://github.com/fxbois/web-mode.git
[submodule "which-key"]
        path = lib/which-key
        url = https://github.com/justbur/emacs-which-key.git
[submodule "window+"]
        path = lib/window+
        url = https://github.com/emacsmirror/window-plus.git
[submodule "with-editor"]
        path = lib/with-editor
        url = https://github.com/magit/with-editor.git
[submodule "xah-fly-keys"]
        path = lib/xah-fly-keys
        url = https://github.com/xahlee/xah-fly-keys.git
[submodule "xelb"]
        path = lib/xelb
        url = https://github.com/ch11ng/xelb.git
[submodule "xonsh-mode"]
        path = lib/xonsh-mode
        url = https://github.com/seanfarley/xonsh-mode.git
[submodule "yasnippet"]
        path = lib/yasnippet
        url = https://github.com/joaotavora/yasnippet.git
[submodule "zoom-frm"]
        path = lib/zoom-frm
        url = https://github.com/emacsmirror/zoom-frm.git
        pushurl = git@github.com:shadowrylander/doc.git
[submodule "lib/shadowrylander.github.io"]
	path = lib/shadowrylander.github.io
	url = https://github.com/shadowrylander/shadowrylander.github.io
