*

# From: https://jasonstitt.com/gitignore-whitelisting-patterns
# !*/

!*.org
!**/**/*.org

!README.*
!**/**/README.*

!org-tangle.sh
!**/**/org-tangle.sh

!makefile
!**/**/makefile

!*.mk
!**/**/*.mk

!profiles
!profiles/damascus
!profiles/damascus/**
profiles/damascus/.cosmog.
profiles/damascus/.local
profiles/damascus/auto-save-list
profiles/damascus/eln-cache
profiles/damascus/etc
profiles/damascus/var

!siluam
!siluam/**

!themes
!themes/screenshots
!themes/screenshots/**

!*.git*
!**/**/*.git*