*

# From: https://jasonstitt.com/gitignore-whitelisting-patterns
# !*/

!*.org
!**/**/*.org

!README.*
!**/**/README.*

!org-tangle
!**/**/org-tangle

!makefile
!**/**/makefile

!*.mk
!**/**/*.mk

!profiles/
!damascus
!**/**/damascus/**
**/**/damascus/**/.cosmog.
**/**/damascus/**/.local
**/**/damascus/**/auto-save-list
**/**/damascus/**/eln-cache
**/**/damascus/**/etc
**/**/damascus/**/var
!siluam
!**/**/siluam/**
!themes
!themes/screenshots

!*.git*
!**/**/*.git*