[remote "aiern"]
    url = git@github.com:shadowrylander/aiern
    fetch = +refs/heads/*:refs/remotes/aiern/*
[remote "doom-aiern-modeline"]
    url = git@github.com:shadowrylander/doom-aiern-modeline
    fetch = +refs/heads/*:refs/remotes/doom-aiern-modeline/*
[remote "alloy"]
    url = git@github.com:shadowrylander/alloy.git
    fetch = +refs/heads/*:refs/remotes/alloy/*
[remote "alamode"]
    url = git@github.com:shadowrylander/alamode
    fetch = +refs/heads/*:refs/remotes/alamode/*
[remote "use-package-extras"]
    url = git@github.com:shadowrylander/use-package-extras
    fetch = +refs/heads/*:refs/remotes/use-package-extras/*
[remote "deino"]
    url = git@github.com:shadowrylander/deino
    fetch = +refs/heads/*:refs/remotes/deino/*
[remote "use-package-deino"]
    url = git@github.com:shadowrylander/use-package-deino
    fetch = +refs/heads/*:refs/remotes/use-package-deino/*
[remote "sorrow"]
    url = git@github.com:shadowrylander/sorrow
    fetch = +refs/heads/*:refs/remotes/sorrow/*
[remote "lode"]
    url = git@github.com:shadowrylander/lode
    fetch = +refs/heads/*:refs/remotes/lode/*
[remote "meq"]
    url = git@github.com:shadowrylander/meq.git
    fetch = +refs/heads/*:refs/remotes/meq/*
[remote "aiern-god-state"]
    url = git@github.com:shadowrylander/aiern-god-state
    fetch = +refs/heads/*:refs/remotes/aiern-god-state/*
[remote "janus"]
    url = git@github.com:shadowrylander/janus
    fetch = +refs/heads/*:refs/remotes/janus/*
[remote "titan"]
    url = git@github.com:shadowrylander/titan
    fetch = +refs/heads/*:refs/remotes/titan/*
[remote "fell"]
    url = git@github.com:shadowrylander/fell
    fetch = +refs/heads/*:refs/remotes/fell/*
[remote "doc"]
    url = git@github.com:shadowrylander/doc
    fetch = +refs/heads/*:refs/remotes/doc/*
[remote "cosmoem"]
    url = git@gitlab.com:shadowrylander/cosmoem
    fetch = +refs/heads/*:refs/remotes/cosmoem/*
[remote "cosmog"]
    url = git@github.com:shadowrylander/cosmog
    fetch = +refs/heads/*:refs/remotes/cosmog/*
[remote "prime"]
    url = git@github.com:shadowrylander/prime
    fetch = +refs/heads/*:refs/remotes/prime/*
[remote "uru"]
    url = git@github.com:shadowrylander/uru
    fetch = +refs/heads/*:refs/remotes/uru/*
[remote "meta"]
    url = git@github.com:shadowrylander/meta
    fetch = +refs/heads/*:refs/remotes/meta/*
[remote "riot"]
    url = git@github.com:shadowrylander/riot
    fetch = +refs/heads/*:refs/remotes/riot/*
[remote "evil-evilified-state"]
    url = git@github.com:shadowrylander/evil-evilified-state
    fetch = +refs/heads/*:refs/remotes/evil-evilified-state/*
[submodule "profiles/doom"]
	url = https://github.com/hlissner/.emacs.d.git
	active = true
[submodule "profiles/spacemacs"]
	url = https://github.com/spacemacs/spacemacs.git
	active = true
[submodule "profiles/nano/lisp"]
	url = https://github.com/rougier/nano.git
	active = true
[submodule "profiles/graphene/lisp"]
    url = https://github.com/rdallasgray/graphene.git
    active = true
[submodule "profiles/centaur"]
    url = https://github.com/seagle0128/.emacs.d.git
    active = true
[submodule "profiles/prelude"]
    url = https://github.com/bbatsov/prelude.git
    active = true
[submodule "dash.el"]
	url = https://github.com/magnars/dash.el.git
	active = true
[submodule "s.el"]
	url = https://github.com/magnars/s.el.git
	active = true
[submodule "a.el"]
	url = https://github.com/plexus/a.el.git
	active = true
[submodule "f.el"]
	url = https://github.com/rejeep/f.el.git
	active = true
[submodule "use-package"]
	url = https://github.com/jwiegley/use-package.git
	active = true
[submodule "use-package-hydra"]
	url = https://gitlab.com/to1ne/use-package-hydra.git
	active = true
[submodule "command-log-mode"]
	url = https://github.com/lewang/command-log-mode.git
	active = true
[submodule "which-key"]
	url = https://github.com/justbur/emacs-which-key.git
	active = true
[submodule "hydra"]
	url = https://github.com/abo-abo/hydra.git
	active = true
[submodule "exwm"]
	url = https://github.com/ch11ng/exwm.git
	active = true
[submodule "dmenu"]
	url = https://github.com/lujun9972/el-dmenu.git
	active = true
[submodule "xelb"]
	url = https://github.com/ch11ng/xelb.git
	active = true
[submodule "org"]
	url = https://code.orgmode.org/bzg/org-mode.git
	active = true
[submodule "gcmh"]
	url = https://gitlab.com/koral/gcmh.git
	active = true
[submodule "no-littering"]
	url = https://github.com/emacscollective/no-littering.git
	active = true
[submodule "leaf"]
	url = https://github.com/conao3/leaf.el.git
	active = true
[submodule "leaf-keywords"]
	url = https://github.com/conao3/leaf-keywords.el.git
	active = true
[submodule "borg"]
	url = https://github.com/emacscollective/borg.git
	active = true
