*

# From: https://jasonstitt.com/gitignore-whitelisting-patterns
!*/

!**/**/*.org
!**/**/README.*
!**/**/custom.el
!**/**/makefile
!**/**/*.mk
!**/**/*.git*
!**/**/*.dep

!/siluam/**/**
!/themes/screenshots/**/**

!/LICENSE
!/org-tangle.sh
!/borg.gif
!/nebby.webp
!/git-subtree

**/**/README.el
**/**/README.elc
**/**/.local
/lib
/epkgs
/var
/elpa