[submodule "lib/dash.el"]
	path = lib/dash.el
	url = https://github.com/magnars/dash.el
[submodule "lib/s.el"]
	path = lib/s.el
	url = https://github.com/magnars/s.el
[submodule "lib/a.el"]
	path = lib/a.el
	url = https://github.com/plexus/a.el
[submodule "lib/f.el"]
	path = lib/f.el
	url = https://github.com/rejeep/f.el
[submodule "profiles/doom"]
	path = profiles/doom
	url = https://github.com/hlissner/.emacs.d
[submodule "profiles/spacemacs"]
	path = profiles/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "profiles/nano/lisp"]
	path = profiles/nano/lisp
	url = https://github.com/rougier/nano-emacs
[submodule "profiles/prelude"]
	path = profiles/prelude
	url = https://github.com/bbatsov/prelude.git
[submodule "profiles/centaur"]
	path = profiles/centaur
	url = https://github.com/seagle0128/.emacs.d.git
[submodule "profiles/graphene/lisp"]
	path = profiles/graphene/lisp
	url = https://github.com/rdallasgray/graphene.git
[submodule "lib/use-package"]
	path = lib/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lib/use-package-hydra"]
	path = lib/use-package-hydra
	url = https://gitlab.com/to1ne/use-package-hydra.git
[submodule "lib/command-log-mode"]
	path = lib/command-log-mode
	url = https://github.com/lewang/command-log-mode.git
[submodule "lib/which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "lib/hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "lib/exwm"]
	path = lib/exwm
	url = https://github.com/ch11ng/exwm.git
[submodule "lib/dmenu"]
	path = lib/dmenu
	url = https://github.com/lujun9972/el-dmenu.git
[submodule "lib/xelb"]
	path = lib/xelb
	url = https://github.com/ch11ng/xelb.git
[submodule "lib/org"]
	path = lib/org
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "lib/gcmh"]
	path = lib/gcmh
	url = https://gitlab.com/koral/gcmh.git
[submodule "lib/no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "lib/leaf"]
	path = lib/leaf
	url = https://github.com/conao3/leaf.el.git
[submodule "lib/leaf-keywords"]
	path = lib/leaf-keywords
	url = https://github.com/conao3/leaf-keywords.el.git
